.main-nav{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	transition: .5s;
	background: linear-gradient(180deg, #000, transparent);
	font-weight: bold;
	font-size: 18px;
	color: white;
	z-index: 10;

	.logo{
		padding: 2%;
		float: left;
		display: flex;
		margin: 0;
	}

	ul{
		padding: 1%;
		float: right;
		display: flex;
		margin: 1%;
	    // -webkit-box-shadow: 0 16px 18px -6px #f5f4f4;
	    // -moz-box-shadow:0 16px 18px -6px #f5f4f4;
		

		li{
			list-style: none;
			padding: 5px 30px;
			a{
				text-decoration: none;
				font-size: 16px;
			}
			a:active{
				background-color: red;
			}
			
		}
	}
}